################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/aplicacao/.vs
/aplicacao/api/bin/Debug
/aplicacao/api/obj
/aplicacao/ApiTest/obj
/aplicacao/ApiTest/bin/Debug/net8.0
/aplicacao/api/.config
/aplicacao/api/bin/Release/net8.0
/aplicacao/ApiTest/bin/Release/net8.0
/aplicacao/apiTests/bin/Debug/net8.0
/aplicacao/apiTests/obj
